.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
}

.container {
  display: contents;
}

.col, .column{
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  max-width: 500px;
  text-align: center;
  border-width: 5px !important;
  font-family: 'Raleway', sans-serif;
  background-position: center;
}

.column-content {
  margin-top: 250px;
}
.title, .description {
  color: whitesmoke;
}
.description {
  font-size: 18px;
  font-weight: 800;
  text-shadow: 0 0 8px #000000;
}


.chat {
  font-size: 32px;
  text-shadow: 0 0 10px #00F9FF;
}
.films {
  font-size: 32px;
  text-shadow: 0 0 10px #ff1a1a;
}
.marketplace {
  font-size: 32px;
  text-shadow: 0 0 10px #15a90d;
}




footer {
  font-family: 'Raleway', sans-serif;
}
