<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Профіль">
    <!-- Profile form -->
    <form
      #profileForm="ngForm"
      (ngSubmit)="updateProfile(user)"
      class="needs-validation profileForm mt-5"
      novalidate
    >
      <h2 class="mt-3 title">
        Ваш профіль
        <fa-icon
          [icon]="faEdit"
          style="cursor: pointer; padding-left: 1rem"
          (click)="changeEditMode(!editMode)"
        ></fa-icon>
      </h2>

      <div class="form-group">
        <label for="firstname">Ім'я: </label>
        <label id="firstname" class="user__label" *ngIf="!editMode">{{
          user?.firstname
        }}</label>
        <input
          type="text"
          class="form-control user__input"
          id="firstname"
          name="firstname"
          [(ngModel)]="user.firstname"
          *ngIf="editMode"
          value="{{ user?.firstname }}"
        />
      </div>

      <div class="form-group">
        <label for="lastname">Прізвище: </label>
        <label id="lastname" class="user__label" *ngIf="!editMode">{{
          user?.lastname
        }}</label>
        <input
          type="text"
          class="form-control user__input"
          id="lastname"
          *ngIf="editMode"
          name="lastname"
          [(ngModel)]="user.lastname"
          value="{{ user?.lastname }}"
        />
      </div>

      <div class="form-group">
        <label for="email">E-mail: </label>
        <label id="email" class="user__label" *ngIf="!editMode">{{
          user?.userEmail
        }}</label>
        <input
          type="email"
          class="form-control user__input"
          id="email"
          *ngIf="editMode"
          name="email"
          [(ngModel)]="user.userEmail"
          value="{{ user?.userEmail }}"
        />
      </div>

      <!--<div class="form-group">
        <label for="password">Пароль: </label>
        <label id="password" class="user__label" *ngIf="!editMode">
          ********
        </label>
        <input
          type="password"
          class="form-control user__input"
          id="password"
          *ngIf="editMode"
          name="password"
          [(ngModel)]="user.userPassword"
        />
      </div>-->

      <div class="form-group">
        <label for="department">Відділ: </label>
        <mat-label id="department" class="user__label" *ngIf="!editMode">{{
          user?.department?.departmentName || user.department
        }}</mat-label>
        <mat-select
          class="form-control user__input"
          *ngIf="editMode"
          [(ngModel)]="user.department"
          name="department"
        >
          <mat-option
            *ngFor="let department of departments"
            [value]="department?.departmentName"
          >
            {{ department?.departmentName }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group text-center">
        <button
          *ngIf="editMode"
          class="btn btn-success profileBtn"
          type="submit"
          (click)="updateProfile(user)"
        >
          Зберегти
        </button>
        <button
          *ngIf="editMode"
          class="btn btn-secondary"
          type="button"
          (click)="changeEditMode(false)"
        >
          Відмінити
        </button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Співробітники">
    <!-- Employees list -->
    <mat-selection-list #employees [multiple]="false">
      <mat-list-option
        class="list-option"
        *ngFor="let employee of employeesList"
        [value]="employee"
        (click)="selectEmployee(employee); drawChart(employee)"
      >
        <div id="{{ employee.lastname }}" *ngIf="employee.lastname != 'admin'">
          <fa-icon [icon]="faUser" size="3x" class="userIcon"></fa-icon>
          <div class="employeeInfo">
            <span style="font-weight: 600"
              >{{ employee.firstname }} {{ employee.lastname }}</span
            >
            <br />
            <span>E-mail: {{ employee.userEmail }} </span
            ><br />
            <span *ngIf="employee.department != null"
              >Відділ: {{ employee.department.departmentName }} </span
            ><br />
            <span *ngIf="employee.department == null"
              >Відділ: не закріплений</span
            ><br />
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <!-- Graphics -->
    <div id="chartContainer" class="chartContainer"></div>
  </mat-tab>
  <mat-tab
    *ngIf="this.user.firstname == 'admin'"
    label="Панель адміністратора"
    style="overflow: hidden"
  >
    <table class="table admin-table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            Відділ
            <div class="lockIcon">
              <fa-icon
                [icon]="faLock"
                *ngIf="!updateMode"
                aria-hidden="true"
                style="padding-left: 1rem"
              ></fa-icon>
              <fa-icon
                [icon]="faUnlock"
                *ngIf="updateMode"
                aria-hidden="true"
                style="padding-left: 1rem"
              ></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments">
          <th scope="row">{{ department.departmentId }}</th>
          <td style="width: 100%">
            <div class="form-group">
              <div *ngIf="!updateMode; then viewMode; else updatingMode"></div>
              <ng-template #viewMode
                ><input
                  name="depInput"
                  placeholder="{{ department.departmentName }}"
                  disabled />
                <div class="timesIcon">
                  <fa-icon
                    [icon]="faTimes"
                    style="font-size: 36px; color: red; cursor: pointer"
                    (click)="
                      deleteDepartmentConfirmation(department.departmentId)
                    "
                  ></fa-icon></div
              ></ng-template>
              <ng-template #updatingMode
                ><input
                  class="departmentNameInput updateInput"
                  name="depInput"
                  placeholder="{{ department.departmentName }}" />
                <div class="timesIcon">
                  <fa-icon
                    [icon]="faTimes"
                    style="font-size: 36px; color: red; cursor: pointer"
                    (click)="
                      deleteDepartmentConfirmation(department.departmentId)
                    "
                  ></fa-icon></div
              ></ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class="row">
        <button
          type="button"
          class="btn btn-outline-success btn-lg"
          (click)="openVerticallyCentered(content)"
        >
          Створити
        </button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Створення відділу</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Введіть назву нового відділу: </label>
            <input
              style="margin-left: 1rem; width: auto"
              [(ngModel)]="departmentForCreation.departmentName"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-success"
              (click)="
                createDepartment(departmentForCreation); modal.close('Ok click')
              "
            >
              Створити
            </button>
          </div>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-primary btn-lg"
          id="BtnUpdate"
          (click)="changeUpdateMode(); !updateMode ? updateDepartments() : ''"
        >
          {{ updateMode ? "Зберегти зміни" : "Змінити" }}
        </button>
        <div *ngIf="updating" class="spinner-overlay">
          <div class="spinner-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
